{% extends 'base.html' %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center text-light">Busca una receta o alimento</h2>

    <form action="/search" method="POST" class="mt-3">
        <input type="text" 
               class="form-control" 
               name="nombre_receta"
               placeholder="Busca tu receta o comida, ejemplo= Pasta, Pizza, Pollo">

        <button type="submit" class="btn btn-light w-100 mt-3">
            Buscar
        </button>
    </form>
</div>

{% endblock %}
